@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url("https://fonts.googleapis.com/css?family=Alegreya:700");
* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

.container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 0 40px; }

.row:before, .row:after {
  content: "";
  display: table;
  clear: both; }

[class*="col-"] {
  width: 100%;
  padding: 12px;
  float: left; }

/*HEADER*/
header {
  background-color: #313234; }
  header nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: none; }
    header nav ul li a {
      line-height: 50px;
      padding: 0 20px;
      display: block;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase; }
      header nav ul li a:hover {
        color: #06C2F2;
        font-weight: bolder;
        transform: scale(1.05, 1.07);
        transition-timing-function: ease-out;
        transition-duration: 250ms; }
  header nav img {
    padding: 10px 0; }

/*jumbotron*/
.hero {
  width: 100%;
  height: 50vh;
  background-image: url(https://hd.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg);
  box-sizing: border-box;
  text-align: center;
  background-size: cover;
  background-position: center;
  overflow: hidden; }

.slogan {
  background-color: rgba(0, 0, 0, 0.7);
  float: right;
  min-width: 40%;
  max-width: 800px;
  color: #fff;
  position: relative;
  top: 35%; }
  .slogan h1 {
    font-size: 12px;
    padding: 0 30px;
    float: left;
    font-weight: bold; }

/*beneftis*/
.benefits .container .a {
  font-size: 70px;
  cursor: pointer; }

.benefits .container h3 {
  cursor: pointer; }

.benefits .container .col-m-4:hover .a,
.benefits .container .col-m-4:hover h3 {
  color: #06C2F2;
  transform: scale(1.05, 1.07);
  transition-timing-function: ease-out;
  transition-duration: 250ms; }

/*GALLERY*/
.gallery .row .gallery-img {
  position: relative;
  margin: 0;
  padding: 0; }
  .gallery .row .gallery-img img {
    width: 100%;
    height: auto;
    display: block;
    cursor: pointer; }
  .gallery .row .gallery-img .layer {
    opacity: 1;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 15px;
    text-align: center; }
    .gallery .row .gallery-img .layer .fa {
      border-radius: 10%;
      color: #353736;
      background-color: #fff;
      width: 50px;
      height: 50px;
      line-height: 50px;
      font-size: 35px;
      text-align: center;
      margin: 0;
      position: relative;
      margin-top: 50%;
      transform: translateY(-50%);
      cursor: pointer; }

/*human crew*/
.post {
  position: relative;
  text-align: center;
  padding: 0;
  margin: 20px auto; }
  .post .ring {
    opacity: 1;
    position: absolute;
    color: black;
    background-color: rgba(78, 61, 54, 0.6);
    width: 170px;
    height: 170px;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer; }
  .post .ring {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .post .ring p {
      margin: 0;
      color: white;
      line-height: 170px;
      font-size: 25px;
      text-transform: uppercase; }
  .post img {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    display: block;
    margin: 0 auto; }

.human .row {
  margin: 0 auto; }

/*photo*/
.photo {
  background-image: url(http://fluper.ru/ffh/19/diagonal_fon_linii_tekstura_chernyy_1920x1080.jpg);
  min-height: 350px;
  color: #fff; }
  .photo .container {
    padding-top: 20px; }
    .photo .container img {
      width: 100%;
      height: 100%; }

/*numbers*/
.numbers .container {
  max-width: 1000px; }
  .numbers .container [class*="col-"] {
    margin-top: -55px; }
    .numbers .container [class*="col-"] h1 {
      color: #313332;
      font-size: 55px;
      font-weight: 900;
      font-family: "Alegreya", serif; }
    .numbers .container [class*="col-"] h4 {
      margin-top: -45px;
      color: #0ec8f9;
      font-weight: 600; }

/*business-card*/
.business-card {
  color: #fff;
  background-color: #313332; }
  .business-card .container {
    text-align: left; }
    .business-card .container h1 {
      text-transform: uppercase; }
    .business-card .container .get p, .business-card .container .get h3 {
      margin: 0;
      font-weight: 300; }
    .business-card .container .b {
      font-size: 27px;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: #01c9ed;
      color: #fff;
      cursor: pointer;
      margin: 4px;
      text-align: center; }

/*footer*/
footer {
  background-color: #252726;
  color: #fff;
  text-align: center;
  height: 50px;
  line-height: 50px;
  margin-top: -20px; }

/* For tablets: */
@media screen and (min-width: 480px) and (max-width: 767px) {
  .col-s-1 {
    width: 8.33%; }
  .col-s-2 {
    width: 16.66%; }
  .col-s-3 {
    width: 25%; }
  .col-s-4 {
    width: 33.33%; }
  .col-s-5 {
    width: 41.66%; }
  .col-s-6 {
    width: 50%; }
  .col-s-7 {
    width: 58.33%; }
  .col-s-8 {
    width: 66.66%; }
  .col-s-9 {
    width: 75%; }
  .col-s-10 {
    width: 83.33%; }
  .col-s-11 {
    width: 91.66%; }
  .col-s-12 {
    width: 100%; }
  /*HEADER*/
  header {
    height: 50px; }
    header .container {
      text-align: initial; }
    header nav ul {
      float: right; }
      header nav ul li {
        display: inline-block; }
  /*Gallery*/
  .gallery .row .gallery-img .layer {
    opacity: 0;
    background-color: rgba(50, 50, 50, 0.5); }
  .gallery .row .gallery-img:hover .layer {
    opacity: 1;
    transition: 0.5s; }
  /*human crew*/
  .human {
    margin: 20px auto; }
    .human .post {
      margin: 15px auto; }
      .human .post .ring {
        opacity: 0; }
        .human .post .ring:hover {
          opacity: 1;
          transition: .7s; }
  /*business-card*/
  #x {
    padding-right: 20px; }
  .business-card hr {
    display: inline-block;
    width: 100px;
    margin-left: 12px;
    font-size: 20px;
    height: 2px; } }

/* For desktop:*/
@media (min-width: 768px) {
  .col-m-1 {
    width: 8.33%; }
  .col-m-2 {
    width: 16.66%; }
  .col-m-3 {
    width: 25%; }
  .col-m-4 {
    width: 33.33%; }
  .col-m-5 {
    width: 41.66%; }
  .col-m-6 {
    width: 50%; }
  .col-m-7 {
    width: 58.33%; }
  .col-m-8 {
    width: 66.66%; }
  .col-m-9 {
    width: 75%; }
  .col-m-10 {
    width: 83.3; }
  .col-m-11 {
    width: 91.6; }
  .col-m-12 {
    width: 100%; }
  /*HEADER*/
  header {
    height: 50px; }
    header .container {
      text-align: initial; }
    header nav ul {
      float: right; }
      header nav ul li {
        display: inline-block; }
  /*jumbotron*/
  .slogan h1 {
    font-size: 20px; }
  /*benefits*/
  section .container .a {
    font-size: 90px; }
  /*Gallery*/
  .gallery .row .gallery-img .layer {
    opacity: 0;
    background-color: rgba(50, 50, 50, 0.5); }
  .gallery .row .gallery-img:hover .layer {
    opacity: 1;
    transition: 0.5s; }
  /*human crew*/
  .human {
    margin: 20px auto; }
    .human .post {
      margin: 15px auto; }
      .human .post .ring {
        opacity: 0; }
        .human .post .ring:hover {
          opacity: 1;
          transition: .7s; }
  /*business-card*/
  #x {
    padding-right: 20px; }
  .business-card hr {
    display: inline-block;
    width: 100px;
    margin-left: 12px;
    font-size: 20px;
    height: 2px; } }
